body {
    background-color: #c4f7b2; /* Cor suave de verde clara para o tema sapo */
    font-family: 'Arial', sans-serif;
}

.inicio-fundo {
    background: url('img/fundo-sapo.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px;
    border-radius: 20px;
}

.botao-inicio {
    background-color: #4caf50; /* Cor de verde, combinando com o tema */
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.botao-inicio:hover {
    background-color: #388e3c;
}

/* Estilo para a galeria */
.fundo-galeria {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
}

footer {
    background-color: #4caf50; /* Cor verde novamente */
    color: white;
    padding: 15px;
    text-align: center;
}

/* Estilo para os botões da acessibilidade */
#botao-acessibilidade {
    background-color: #81c784; /* Verde claro */
}

#opcoes-acessibilidade button {
    background-color: #a5d6a7; /* Botões em verde suave */
    margin-top: 10px;
}

#opcoes-acessibilidade button:hover {
    background-color: #81c784;
}

footer i {
    font-size: 2em;
    margin: 0 15px;
    color: white;
}

footer i:hover {
    color: #81c784; /* Cor para o ícone no hover */
}
