body {
    background-color: #c4f7b2;
    font-family: Arial, sans-serif;
}

h1, h2, .nav-link, #botao-acessibilidade, .btn {
    color: #7ed957; /* Verde claro */
}

.nav-link {
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #5dbb4d; /* Verde mais escuro ao passar o mouse */
}

.inicio-fundo {
    background: url('img/fundo-sapo.png') no-repeat center center;
    background-size: cover;
    padding: 100px;
    border-radius: 20px;
}

.botao-inicio {
    background-color: #7ed957; /* Verde claro */
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
}

.fundo-galeria {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
}

footer {
    background-color: #4caf50;
    color: white;
    padding: 15px;
    text-align: center;
}

.menu-acessibilidade button {
    background-color: #7ed957; /* Verde claro para o botão de acessibilidade */
}

#opcoes-acessibilidade button {
    background-color: #7ed957; /* Verde claro para os botões de aumentar/diminuir fonte */
}

#opcoes-acessibilidade button:hover {
    background-color: #5dbb4d; /* Verde mais escuro ao passar o mouse */
}

#botao-acessibilidade {
    background-color: #7ed957; /* Verde claro para o botão */
}

#botao-acessibilidade.rotacao-botao {
    transform: rotate(180deg);
}

/* Estilo para os botões de aumentar e diminuir fonte */
#alterna-contraste {
    background-color: #7ed957; /* Verde claro */
}

#alterna-contraste:hover {
    background-color: #5dbb4d; /* Verde mais escuro */
}

/* Definição do contraste */
.alto-contraste {
    background-color: #333;
    color: #fff;
}

/* Ajuste do fundo da galeria */
.fundo-galeria {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
}
